﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Models">>Models</a></li>
    </ul>
    <h1>TEst layout</h1>
    <div>
        @RenderBody()
    </div>

    <footer>@RenderSection("footer", false)</footer>
</body>
</html>
