﻿

<!DOCTYPE html>
<html>
<head>
    <title>
        Add brand
    </title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Description"/></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add brand"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>