﻿@model ModelResponse
@inject IBrandService BrandService
@{ 
    IList<BrandResponse> brands = await BrandService.GetBrandsAsync();
}


<!DOCTYPE html>
<html>
<head>
    <title>
        Edit model
    </title>
    
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" value="@Model.Name"/></td>
            </tr>
            @Html.DropDownList("BrandDataId", new SelectList(brands,"Id", "Name"), "Select Brand")
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>