﻿@model IList<BrandResponse>
@inject IBrandService BrandService
@{     
    IList<BrandResponse> list = await BrandService.GetBrandsAsync();
}
<h1>Brands</h1>
<a asp-controller="BrandWeb" asp-action="AddBrand">Add brand</a>
<ul>
    @foreach (var item in list)
    {
    <li>@item.Name</li>
    }
</ul>