﻿@model IList<BrandResponse>
@{ 
    ViewData["Title1"] = "Home page";
    Layout = "_Layout";
}

@section Footer{ 
    <h6>Developed by Hillel 2020</h6>
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewBag.Title
        </title>
    </head>
    <body>
        <h1>@ViewData["Description"]</h1>

        @{await Html.RenderPartialAsync("_getBrands");}

    </body>
</html>