﻿@using Lesson19_1.Models
@model IList<ModelResponse>
@{
    ViewData["Title"] = "Models";
    List<ModelResponse> list = new List<ModelResponse>();
}

@section Footer{
    <h6>Developed by Hillel 2020</h6>
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
            <td>Model</td>
            <td><input type="button" value="Add model" onclick="location.href='AddModel'" /> </td>
        </tr>
        @foreach (var m in Model)
        {
    <tr>
        <td>@m.Name</td>
        @if (@m.BrandData != null)
        {
            <td>@m.BrandData.Name</td>
        }
        <td>
            <a asp-controller="ModelWeb" asp-action="ModelEdit" asp-route-id="@m.Id">Edit</a>
        </td>
    </tr>
        }
    </table>


</body>
</html>